.cart {
    border-collapse: collapse;
    width: 100%;
    display: inline-block;
  }
  
  .cart__table {
    margin-top: 270px;
    margin-bottom: 44px;
    width: 100%;
    border-spacing: 0;
  }
  
  .cart__column {
    font-size: 13px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.015em;
    color: var(--base-color-text);
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
  }
  
  .cart_left {
    text-align: left;
  }
  
  .cart_right {
    text-align: right;
  }
  
  .cart__row {
    padding: 22px 0 22px 0;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    color: #656565;
  }
  
  .cart__box {
    display: flex;
    color: var(--base-color-text);
  }
  
  .cart__desc {
    padding-left: 21px;
  }
  
  .cart__heading {
    font-size: 13px;
    line-height: 1.2;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--base-color-text);
    padding-bottom: 38px;
  }
  
  .cart__color {
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    color: #575757;
  }
  
  .cart__size {
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    color: #575757;
  }
  
  .cart__circle {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    color: #c0c0c0;
    display: block;
    float: inline-end;
    padding-right: 15px;
    cursor: pointer;
  }
  
  .cart__circle:hover {
    color: var(--base-color-pink);
  }
  
  .cart__number-container {
    width: 60px;
  }
  
  .cart__number {
    width: 100%;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    text-align: center;
    outline: none;
  }
  
  .cart__number::-webkit-inner-spin-button,
  .cart__number::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  .cart__number[type="number"] {
    -moz-appearance: textfield;
  }
  
  .cart__button {
    display: flex;
    justify-content: space-between;
    margin-bottom: 63px;
  }
  
  .cart__btn {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #4a4a4a;
    padding: 20px 39px 18px 39px;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
  }
  
  .cart__btn:hover {
    color: #ffffff;
    background-color: var(--base-color-pink);
    transition: all .3s;
  }
  